[Unit]
Description=Todo
After=network-online.target

[Container]
Image=localhost/atareao/todo-weather:latest
ContainerName=todo
PublishPort=3003:3003

# Environment
Environment=RUST_LOG=mcp_todo=debug
Environment=TODO_DB_PATH=/data/todo.db
Environment=MCP_TRANSPORT=http
Environment=MCP_PORT=3003

# Volumes
Volume=/data/rust/mcp-todo/data:/data

# Networks
Network=traefik.network

[Service]
Restart=always

[Install]
WantedBy=default.target
